@charset "utf-8";

html, body {
	background: #000;
	height: 100%;
}

#modal-content {
	width: auto;
	z-index: 2;
	display: none;
	position: fixed;
	left: 40%;
}

#modal-content .close {
	width: 140px;
	margin: 40px auto;
}

.button-link {
	color: #FFF;
	text-decoration: underline;
	position: absolute;
}

.button-link:hover{
   cursor: pointer;
   color: #f00;
}

/*media all*/
#modal-overlay {
    z-index: 1;
    display: none;
    position: fixed;
    top: 0px;
    left: 30%;
    width: 600px;
    height: 600px;
    background: #000 url(../images/Cover01.bmp) no-repeat top center;

    -webkit-filter:Chroma(color=#000000) Glow(color=gold,strength=3) DropShadow(color=#0000F0,offX=-3,offY=-3,positive=true) Blur(Enabled=false,makeShadow=true,pixelRadius=1.0) Wave(add=false,freq=0,strength=5,lightStrength=8,phase=100);
    -moz-filter:Chroma(color=#000000) Glow(color=gold,strength=3) DropShadow(color=#0000F0,offX=-3,offY=-3,positive=true) Blur(Enabled=false,makeShadow=true,pixelRadius=1.0) Wave(add=false,freq=0,strength=5,lightStrength=8,phase=100);
    -o-filter:Chroma(color=#000000) Glow(color=gold,strength=3) DropShadow(color=#0000F0,offX=-3,offY=-3,positive=true) Blur(Enabled=false,makeShadow=true,pixelRadius=1.0) Wave(add=false,freq=0,strength=5,lightStrength=8,phase=100);
    filter:Chroma(color=#000000) Glow(color=gold,strength=3) DropShadow(color=#0000F0,offX=-3,offY=-3,positive=true) Blur(Enabled=false,makeShadow=true,pixelRadius=1.0) Wave(add=false,freq=0,strength=5,lightStrength=8,phase=100);

    -ms-background-size: 600px 600px;
    background-size: 600px 600px;
}

#wrapper {
	background: url(../images/background.bmp) no-repeat top center;
}

#container {
	width: 960px;
	height: 1173px;
	margin: 0 auto;
	position: relative;
}

.project {
	position: absolute;
	top: 20px;
	right: 145px;
}

.staff {
	position: absolute;
	top: 50px;
	right: 60px;
}

.message {
	position: absolute;
	top: 30px;
	left: 30px;
	width: auto;
	height: auto;
}

.logo {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 505px;
	height: 343px;
}

.logo img {
	position: absolute;
	left: 50%;
	margin-left: -960px;
}

.foot5pb {
	position: absolute;
	top: 1000px;
	left: 50%;
	margin-left: -110px;
}

.footasd {
	position: absolute;
	top: 1000px;
	right: 50%;
	margin-right: -130px;
}

.copy {
	font-size: 11px;
	color: #dbdbdb;
	position: absolute;
	top: 1110px;
	width:100%;
	text-align: center;
}